---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
    title={post.data.title}
    description={post.data.description}
    url={`https://carlreyes.com/posts/${post.slug}`}
>
    <article>
        <header>
            <h1 class="blog-post-title">{post.data.title}</h1>
            <time datetime={post.data.pubDate.toISOString()}>
                {
                    post.data.pubDate.toLocaleDateString("en-US", {
                        month: "long",
                        day: "numeric",
                        year: "numeric",
                    })
                }
            </time>
        </header>
        <div class="blog-content">
            <Content />
        </div>
        <a href="/" class="back-link">← Back to home</a>
    </article>
</Layout>
